# Demographic Data Analyzer

### Steps
1. Read data from file
2. How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
3. What is the average age of men?
4. What is the percentage of people who have a Bachelor's degree?
5. What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
6. What percentage of people without advanced education make more than 50K (with and without `Bachelors`, `Masters`, or `Doctorate`
percentage with salary >50K)
7. What is the minimum number of hours a person works per week (hours-per-week feature)?
8. What percentage of the people who work the minimum number of hours per week have a salary of >50K
9. What country has the highest percentage of people that earn >50K?
10. Identify the most popular occupation for those who earn >50K in India.

In [1]:
import pandas as pd

#### Read the file

In [2]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

### How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [5]:
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

##### What is the average age of men?

In [73]:
average_age_men = round((df[df['sex'] == 'Male']).age.mean(),2)
average_age_men

39.43

 #####  What is the percentage of people who have a Bachelor's degree?

In [75]:
percentage_bachelors = round(100*(len(df[df['education'] == 'Bachelors'])/len(df)),2)
percentage_bachelors

16.45

#### What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

##### What percentage of people without advanced education make more than 50K (with and without `Bachelors`, `Masters`, or `Doctorate` percentage with salary >50K)

In [20]:
higher_education = df[df['education'].isin(['Bachelors','Masters','Doctorate'])]
print(higher_education)

       age         workclass  fnlwgt  education  education-num  \
0       39         State-gov   77516  Bachelors             13
1       50  Self-emp-not-inc   83311  Bachelors             13
4       28           Private  338409  Bachelors             13
5       37           Private  284582    Masters             14
8       31           Private   45781    Masters             14
...    ...               ...     ...        ...            ...
32538   38           Private  139180  Bachelors             13
32539   71                 ?  287372  Doctorate             16
32544   31           Private  199655    Masters             14
32553   32           Private  116138    Masters             14
32554   53           Private  321865    Masters             14

           marital-status       occupation   relationship                race  \
0           Never-married     Adm-clerical  Not-in-family               White
1      Married-civ-spouse  Exec-managerial        Husband               White
4      Married-civ-spouse   Prof-specialty           Wife               Black
5      Married-civ-spouse  Exec-managerial           Wife               White
8           Never-married   Prof-specialty  Not-in-family               White
...                   ...              ...            ...                 ...
32538            Divorced   Prof-specialty      Unmarried               Black
32539  Married-civ-spouse                ?        Husband               White
32544            Divorced    Other-service  Not-in-family               Other
32553       Never-married     Tech-support  Not-in-family  Asian-Pac-Islander
32554  Married-civ-spouse  Exec-managerial        Husband               White

          sex  capital-gain  capital-loss  hours-per-week native-country  \
0        Male          2174             0              40  United-States
1        Male             0             0              13  United-States
4      Female             0             0              40           Cuba
5      Female             0             0              40  United-States
8      Female         14084             0              50  United-States
...       ...           ...           ...             ...            ...
32538  Female         15020             0              45  United-States
32539    Male             0             0              10  United-States
32544  Female             0             0              30  United-States
32553    Male             0             0              11         Taiwan
32554    Male             0             0              40  United-States

      salary
0      <=50K
1      <=50K
4      <=50K
5      <=50K
8       >50K
...      ...
32538   >50K
32539   >50K
32544  <=50K
32553  <=50K
32554   >50K

[7491 rows x 15 columns]

In [21]:
lower_education = df[~df['education'].isin(['Bachelors','Masters','Doctorate'])]
print(lower_education)

       age         workclass  fnlwgt     education  education-num  \
2       38           Private  215646       HS-grad              9
3       53           Private  234721          11th              7
6       49           Private  160187           9th              5
7       52  Self-emp-not-inc  209642       HS-grad              9
10      37           Private  280464  Some-college             10
...    ...               ...     ...           ...            ...
32556   27           Private  257302    Assoc-acdm             12
32557   40           Private  154374       HS-grad              9
32558   58           Private  151910       HS-grad              9
32559   22           Private  201490       HS-grad              9
32560   52      Self-emp-inc  287927       HS-grad              9

              marital-status         occupation   relationship   race     sex  \
2                   Divorced  Handlers-cleaners  Not-in-family  White    Male
3         Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
6      Married-spouse-absent      Other-service  Not-in-family  Black  Female
7         Married-civ-spouse    Exec-managerial        Husband  White    Male
10        Married-civ-spouse    Exec-managerial        Husband  Black    Male
...                      ...                ...            ...    ...     ...
32556     Married-civ-spouse       Tech-support           Wife  White  Female
32557     Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558                Widowed       Adm-clerical      Unmarried  White  Female
32559          Never-married       Adm-clerical      Own-child  White    Male
32560     Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
6                 0             0              16        Jamaica  <=50K
7                 0             0              45  United-States   >50K
10                0             0              80  United-States   >50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[25070 rows x 15 columns]

In [26]:
higher_education_high = round(100*(len(higher_education[higher_education['salary'] == '>50K'])/len(higher_education)),2)
lower_education_high = round(100*(len(lower_education[lower_education['salary'] == '>50K'])/len(lower_education)),2)

higher_education_high,lower_education_high

(46.54, 17.37)

#### What is the minimum number of hours a person works per week (hours-per-week feature)?

In [27]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

#### What percentage of the people who work the minimum number of hours per week have a salary of >50K

In [28]:
min_wage_workers = (df['hours-per-week'] == min_work_hours).sum()
rich_percentage =  round((((df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')).sum() / min_wage_workers) * 100, 1)

rich_percentage

10.0

#### What country has the highest percentage of people that earn >50K?

In [37]:
country_counts = df['native-country'].value_counts()
country_high = df[df['salary'] == '>50K']['native-country'].value_counts()
country_ratio = country_high/country_counts
highest_earning_country = country_ratio[country_ratio.values == country_ratio.max()].index[0]
highest_earning_country_percentage = round(100*country_ratio.max(),1)
highest_earning_country_percentage

41.9

#### Identify the most popular occupation for those who earn >50K in India.

In [70]:
india_pop = df[df['native-country'] == 'India']
high_pop = india_pop[india_pop['salary'] == '>50K']
top_IN_occupation = high_pop['occupation'].values[0]
top_IN_occupation

# top_IN_occupation = df.loc[(df['native-country'] == 'India') & (df['salary'] == '>50K'), 'occupation'].value_counts().index[0]
# top_IN_occupation

'Prof-specialty'

In [77]:
print("Number of each race:\n", race_count) 
print("Average age of men:", average_age_men)
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
print('-----------------------------------------------------')
print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
print(f"Min work time: {min_work_hours} hours/week")
print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
print("Country with highest percentage of rich:", highest_earning_country)
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
print("Top occupations in India:", top_IN_occupation)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.43
Percentage with Bachelors degrees: 16.45%
-----------------------------------------------------
Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty